<html>
<head>
    <title>News Analyzer - Beta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainpage.css') }}">
</head>
<body>
<h1 class="center-text">News Analyzer</h1>

<!--central prompt and styled-->
<!--centered div-->
<div class="center-prompt">
    <form method="POST">
        <div><input class="url-input" name="url">
        </div>
        <div><input class="form-submit" type="submit">
        </div>
    </form>

    <hr>
    <h2>Suggested Articles</h2>
<!--    This will be a dynamic grid of articles-->
    <div class="suggested-articles">
        {% for article in articles %}
            <form method="POST" class="suggested-article">
                <img class="source-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Associated_Press_logo_2012.svg/640px-Associated_Press_logo_2012.svg.png" alt="">
                <input type="hidden" name="url" value="{{article.url}}">
                <input type="submit" value="{{article.url[18:]}}">
            </form>
        {% endfor %}
    </div>

</div>


</body>
</html>